div, body, html {
  padding: 0px;
  margin: 0px;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  font-family: helvetica;
  font-size: 40px;
}
