div, body, html {
  padding: 0px;
  margin: 0px;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outside-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  // background-image: url("https://d2nkqaulr5muje.cloudfront.net/assets/applicants/landing_page/landing_page_bg-min-2dbf0751ab4e800d44d6981383d7ce4677046bf412bdc3fd41a822b3d18c1a0b.jpg");
  // -webkit-background-size: cover;
  // -moz-background-size: center cover;
  // background-size: cover;
  // background-position: center top;
  padding-bottom: 5rem;
}

.outside-container::after {
  content: "";
  background: url("https://d2nkqaulr5muje.cloudfront.net/assets/applicants/landing_page/landing_page_bg-min-2dbf0751ab4e800d44d6981383d7ce4677046bf412bdc3fd41a822b3d18c1a0b.jpg");
  -webkit-background-size: cover;
  -moz-background-size: center cover;
  background-size: cover;
  background-position: center top;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.content-container {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.content-container.apply {
  justify-content: flex-start;
}

h1 {
  color: white;
  font-family: helvetica;
  font-size: 40px;
}

h4 {
  color: white;
  font-family: helvetica;
  font-size: 30px;
}

.form-container {
  width: 75%;
  background: white;
  height: 100%;
  padding: 1rem;
}
